<% layout('layouts/boilerplate') -%>
    <h1>All Tickets</h1>
    <% for(let ticket of tickets) { %>
        <h1><a href="/tickets/<%=ticket._id%>"><%= ticket.title %></a></h1>
    <% } %> 
    <a href="/tickets/new">New ticket</a>
